:root {
    --primary-color: #007bff;
    --secondary-color: #ffffff;
    --background-color: #1e1e1e;
    --background-open1-color: #343434;
    --background-open2-color: #5b5b5b;
    --advertaise-color: #292929;
    --advertaise-color-dark: #004e5a;
    --advertaise-color-light: #9f9f9f;
    --chat-background: #2c2c2c;
    --chat-header: #3a3a3a;
    --border-color: #444;
    --text-color: #e0e0e0;
    --standart-text-light-color: #848484;
    --text-dark-color: #1e1e1e;
    --text-placeholder-color: #656565;
    --button-border-hover: #004895;
    --button-hover: #0056b3;
    --error-color: #FF0000;
    --logo-background-color: #333;
}

.light-theme {
    --primary-color: #007bff;
    --secondary-color: #000000;
    --background-color: #ffffff;
    --advertaise-color: #f2f2f2;
    --advertaise-color-dark: #cce7ff;
    --advertaise-color-light: #e6f3ff;
    --chat-background: #f2f2f2;
    --chat-header: #e0e0e0;
    --border-color: #ccc;
    --text-color: #000000;
    --standart-text-light-color: #848484;
    --text-dark-color: #ffffff;
    --text-placeholder-color: #999999;
    --button-border-hover: #004895;
    --button-hover: #0056b3;
    --error-color: #FF0000;
    --logo-background-color: #f2f2f2;
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Sayfanın dışına taşmayı engelle */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Lexend', sans-serif;
}


.lexend-500 {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.roboto-slab-500 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


.notification {
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toast {
    font-size: 16px;
    color: #fff;
}

.toast-success {
    background-color: #4caf50;
}

.toast-error {
    background-color: #f44336;
}

.main-container {
    display: flex;
    /* Sidebar ve content'i yan yana koy */
    height: 100vh;
    width: 100vw;
}

.auth-container {
    display: flex;
    /* Sidebar ve content'i yan yana koy */
    height: 100vh;
    width: 100vw;
}

/* İçerik alanı */
.auth-content {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    flex-grow: 1;
    /* Sidebar kapanınca içerik alanı büyüsün */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

/* Sidebar */
.sidebar {
    height: 100vh;
    width: 250px;
    /* Açıkken */
    background-color: var(--background-color);
    transition: width 0.3s ease-in-out;
    flex-shrink: 0;
    /* Sidebar küçülürken içeriğin kaymasını engeller */
}

/* Sidebar kapandığında küçülmesini sağla */
.sidebar.closed {
    width: 60px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    visibility: visible;
    height: 100%;
    opacity: 1;
    transition: visibility 0.1s, opacity 0.3s ease;
}

.sidebar-content.closed {
    opacity: 0;
    display: none;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    height: 50vh;
}

.sidebar ul li {
    margin: 10px 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--text-color);
}



.page-container {
    display: block;
    position: relative;
    /* Flexbox kullanarak düzenleme */
    /* Yatay yönde hizalama */
    width: 100%;
    height: 100vh;
    overflow: scroll;

}

.page-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

/*dikey*/
.page-vertical {
    flex-direction: column;

}

/*Yatay*/
.page-horizontal {
    flex-direction: row;

}



.page-inside {
    display: block;
    position: relative;
    width: 80%;
    min-height: 80vh;
    flex: 1;
    margin: auto;
    border: 0.1px solid var(--advertaise-color-light);
    border-radius: 10px;
    background-color: var(--background-open1-color);
}

.page-section {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 20px;
    overflow: hidden;
}

h1 .page-title {
    font-size: 2rem;
    align-items: start;
    margin-top: 20px;
}

.page-sub-title {
    font-size: 1.6rem;
    align-items: start;
    margin-top: 20px;
    margin-right: 30px;
}

.page-content-center {
    text-align: center;
}

.page-description {
    font-size: 1rem;
    align-items: start;
    margin-top: 20px;
    word-wrap: break-word;
    /* Uzun kelimeleri bölerek alt satıra geçirir */
    overflow-wrap: break-word;
}

.page-description p {
    width: 1000%;
    margin: auto;
    text-align: justify;
}

.page-fluid {
    width: 100%;
}

.page-no-border {
    border: 0px solid var(--advertaise-color-light);
}

.page-no-background {
    background-color: var(--background-color);
}

/* İçerik alanı sidebar'a göre genişliğini ayarlasın */
.sidebar.closed~.content {
    flex-grow: 1;
}

.logo-container {
    display: flex;
    /* Flexbox kullanarak düzenleme */
    justify-content: center;
    /* Yatayda ortalama */
    align-items: center;
    /* Dikeyde ortalama */
    padding: 20px;
    /* İç boşluk */
    background-color: var(--logo-background-color);
    /* Arka plan rengi */
    border-radius: 8px;
    /* Kenar yuvarlama */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Gölge efekti */
    overflow: hidden;
}

.site-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    width: 80%;
}

.site-logo {
    position: relative;
    display: block;
    width: 130px;
    height: 130px;
    padding: 10px;
    border: 1px solid var(--advertaise-color-light);
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.site-logo img {
    width: 150px;
    height: 150px;
    margin: -20px
}

.site-logo-mini {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid var(--advertaise-color-light);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.site-logo-mini img {
    width: 50px;
    height: 50px;
    margin: -20px
}

.sidebar-content .history-title h3 {
    font-size: 1rem;
    align-items: start;
    margin-top: 20px;
}

.history-input {
    width: 100%;
    list-style: none;
}

.chat-release {
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    list-style: none;
    margin-top: 20px;
}

.chat-release button {
    width: 100%;
    list-style: none;
    line-height: 30px;
    background-color: var(--secondary-color);
    border: 3px solid var(--border-color);
    color: var(--text-dark-color);
    border-radius: 14px;
    transition: all 0.6 ease-in;
}

.chat-release button:hover {
    background-color: var(--button-hover);
    border: 3px solid var(--button-hover);
    color: var(--text-light-color);
}


.history-input input {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    line-height: 30px;
    border-radius: 14px 0px 0px 14px;
    padding-left: 13px;

    &:placeholder {
        color: var(--text-placeholder-color);
    }

    color: var(--advertaise-color-light);
}

.history-input input:focus {
    border: 1px solid var(--error-color);
}


.history-input span {
    border: 1px solid var(--border-color);
    border-radius: 0px 14px 14px 0px;
    line-height: 30px;
    padding-left: 5px;
    padding: 6px;
    cursor: pointer;
}

.logo-container img {
    max-width: 100%;
    /* Resmin maksimum genişliği */
    height: auto;
    /* Yüksekliği otomatik ayarla */
}

.form-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100vh;
}

.form-content-left-side {
    flex: 1;
}

.form-content-right-side {
    flex: 2;
    display: block;
    position: relative;
    background-color: var(--advertaise-color-light);
}

.form-content-desctiption {
    position: relative;
    margin: auto;
    top: 100px;
    left: 100px;
    font-size: 3rem;
    font-weight: 700;
}

.plan-features {
    display: flex;
    text-align: center;
    margin: auto;
    padding: 10px 0;
    width: 100%;
    border-radius: 10px;
}


.plan-features-content {
    display: flex;
    /* Flexbox kullanarak düzenleme */
    width: 100%;
    justify-content: center;
    /* Yatayda ortalama */
    align-items: center;
    /* Dikeyde ortalama */
    background-color: var(--advertaise-color);
    border: 1px solid var(--advertaise-color);
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in;
    opacity: 1;
}


.plan-features-content:hover {
    background-color: var(--chat-header);
    cursor: pointer;
}

/* İçerik alanı */
.content {
    height: 100vh;
    background-color: rebeccapurple;
    flex-grow: 1;
    /* Sidebar kapanınca içerik alanı büyüsün */
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

/* İçerik alanı */
.chat-section {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chat-section.closed {
    display: none;
}

.chat-container {
    position: relative;
    display: block;
    flex: 1;
    width: 100%;
    height: 100vh;
    margin: auto;
    margin-left: 0px;
    background-color: var(--chat-background);
    border-radius: 10px;
    box-shadow: 0px 7px 11px 7px rgb(10 10 10 / 48%);
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
}



.chat-header {
    position: relative;
    display: block;
    top: 0px;
    background-color: var(--chat-header);
    width: 100%;
    color: white;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    z-index: 1;

}

.chat-header-block {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.chat-blok {
    display: flex;
    width: 100%;
    /* Örneğin, sabit genişlik belirleyelim */
    height: 100%;
    /* Sabit yükseklik */
}

.message-blok {
    flex: 1;
    /* Eşit genişlikte yayılmalarını sağlar */
    height: 100%;
    /* Konteynerin yüksekliğini tamamen kaplar */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    /* Görsel olarak ayırt edilebilir olması için */
}

.detail-blok {
    flex: 1;
    /* Eşit genişlikte yayılmalarını sağlar */
    height: 100%;
    /* Konteynerin yüksekliğini tamamen kaplar */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    margin-left: 10px;
    transition: all 0.3s ease;
    /* Görsel olarak ayırt edilebilir olması için */
}

.message-blok.hidden {
    opacity: 0;
    flex: 0;
    visibility: hidden;
}

.detail-blok.hidden {
    opacity: 0;
    flex: 0;
    visibility: hidden;
}


.chat-messages {
    display: block;
    border-radius: 14px;
    padding: 10px;
    background-color: var(--chat-background);
    flex: 1;
    height: 100%;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    overflow: hidden;
    overflow-y: auto;
}


.chat-messages ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chat-advertise {
    display: flex;
    /* Flexbox kullanarak düzenleme */
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    /* Yatay yönde hizalama */
    width: 100%;
    overflow: scroll;
    padding: 0 100px;
    background: linear-gradient(to bottom, var(--advertaise-color-dark) 0%, var(--advertaise-color-light) 100%);
    background: -webkit-linear-gradient(top, var(--advertaise-color-dark) 0%, var(--advertaise-color-light) 100%);
    /* Safari ve eski Chrome */
    background: -moz-linear-gradient(top, var(--advertaise-color-dark) 0%, var(--advertaise-color-light) 100%);
    /* Firefox */
    background: -o-linear-gradient(top, var(--advertaise-color-dark) 0%, var(--advertaise-color-light) 100%);
    /* Opera */
    background: -ms-linear-gradient(top, var(--advertaise-color-dark) 0%, var(--advertaise-color-light) 100%);

}



.chat-advertise-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chat-advertise-row {
    flex: 1;
    height: 100%;
}

.chat-advertise-text-content {
    flex: 2;
    /* 2 birim genişlik */
    padding: 10px;
    /* İç boşluk */
    text-align: center;
    line-height: 20px;
    height: auto;
}

.chat-advertise-auth-content {
    display: flex;
    /* Flexbox kullanarak düzenleme */
    flex-direction: column;
    /* Dikey yönde hizalama */
    justify-content: flex-start;
    /* İçeriği yukarıdan başlat */
    align-items: center;
    /* Yatayda ortalama */
    padding: 20px;
    /* İç boşluk */
    width: 100%;
    /* Genişlik */
    height: auto;
    max-width: 400px;
    /* Maksimum genişlik */
    background-color: var(--advertaise-color);
    /* Arka plan rengi */
    border-radius: 8px;
    /* Kenar yuvarlama */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Gölge efekti */
}

.chat-advertise.visible {
    display: flex;
    opacity: 1;
}

.chat-advertise.hidden {
    opacity: 0;
    display: none;
    height: 0;
}

.left-side {
    background-color: var(--advertaise-color);
}

.right-side {
    background-color: var(--advertaise-color-dark);
}

.chat-advertise-text-content .image-slider {
    padding-top: 250px;
    /* Üstten padding */
}


/* Header */
.page-noauth-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 10px;
    border-radius: 0 0 10px 10px;
    background: var(--background-open1-color);
    text-decoration: none;
    box-shadow: 1px 10px 6px rgba(0, 0, 0, 0.2);
}

.page-noauth-logo-container,
.page-noauth-main-link {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.page-noauth-main-link span {
    margin-left: 10px;
    cursor: pointer;
    color: var(--text-color);
}

.nav-noauth-menu {
    flex: 2;
    align-items: center;
    justify-content: center;
}

/* Navigasyon Menüsü */
.nav-noauth-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: end;

}

.nav-noauth-menu ul li {
    margin-right: 20px;
    margin-left: 20px;

}

.nav-noauth-menu ul li a {

    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}

.auth-buttons {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.auth-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--error-color);
}

.login-btn {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}

.login-btn a {
    text-decoration: none;
    color: var(--text-color);
}

.signup-btn {
    background-color: var(--secondary-color);
    border: 2px solid var(--background-color);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--background-color);
    text-decoration: none;
}

.singup-btn a {
    text-decoration: none;
    color: var(--background-color);
}

/* Ana İçerik */
.hero-section {
    padding: 80px 20px;
    width: 100%;
    background-color: var(--background-open2-color);
}

.hero-title {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button {
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: 1px solid var(--secondary-color);
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.cta-button:hover {
    background-color: var(--button-hover);
    color: var(--secondary-color);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

/* Özellikler Bölümü */
.features-advertise-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
}

.feature-advertise-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.feature-advertise-icon {
    font-size: 40px;
}

.feature-advertise-title {
    font-size: 20px;
    margin: 10px 0;
}

.feature-advertise-description {
    font-size: 14px;
    color: #666;
}

/* Hero Altındaki Destekleyici Bölüm */
.supporting-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 50px 20px;
    text-align: center;
    background-color: var(--secondary-color);
}

.supporting-section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 20px;
    text-align: center;
    background-color: #f8f9fa;
}

.supporting-title {
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--background-open1-color);
}

.supporting-description {
    font-size: 16px;
    margin-bottom: 30px;
    color: #555;
}

/* Özellikler Grid */
.features-grid {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.feature-item {
    justify-content: space-around;
    align-items: end;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--background-open1-color);
    width: 250px;
    text-align: center;
    cursor: pointer;
}

.feature-icon {
    font-size: 20px;
}

.feature-title {
    font-size: 16px;
    margin: 10px 0;
    color: var(--background-open1-color);
}

.feature-description {
    font-size: 12px;
    color: #666;
    color: var(--background-open2-color);
}

/* İstatistikler Bölümü */
.statistics-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 20px;
    text-align: center;
    background: var(--advertaise-color-light);
    color: white;
}

.statistics-section-action {
    display: flex;
    width: 30%;
    height: auto;
    margin: 10px 20px;
    flex-direction: column;
    justify-content: center;
}

.statistics-section-action>a.business-signup-btn>.btn.btn-register-action {
    list-style: none;
    line-height: 50px;
    text-decoration: none;
}

.stats-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.stats-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.stat-item {
    text-align: center;
}

.stat-number {
    font-size: 32px;
    font-weight: bold;
}

.stat-description {
    font-size: 18px;
}

/* İşleyiş Hakkında Bilgi Bölümü */
.how-it-works {
    padding: 50px 20px;
    text-align: center;
    background: #eef5ff;
}

.how-title {
    font-size: 28px;
    margin-bottom: 10px;
}

.how-description {
    font-size: 16px;
    margin-bottom: 30px;
    color: #555;
}

.how-steps {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.how-step {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.step-icon {
    font-size: 40px;
}

.step-title {
    font-size: 20px;
    margin: 10px 0;
}

.step-description {
    font-size: 14px;
    color: #666;
}

/* Sıkça Sorulan Sorular (FAQ) */
.faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 20px;
    background: var(--background-open1-color);
    text-align: center;
}

.faq-content {
    background-color: var(--background-open1-color);
    width: 50%;
}

.faq-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.faq-item {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    text-align: left;

    padding-bottom: 10px;
}

.faq-question {
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.faq-answer {
    display: none;
    padding: 10px;
    font-size: 16px;
    color: #555;
}

/* Açılır/Kapanır Animasyon */
.faq-item.active .faq-answer {
    display: block;
}

#root>div:nth-child(1)>div>div>section.faq-section>div>div>div {
    background-color: var(--background-open1-color);
    margin: 0px;
    border: 1px;
}

/* Footer */
.site-footer {
    display: block;
    position: relative;
    width: 100%;
    bottom: 0px;
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links-col,
.social-icons-col,
.footer-copy-col {
    flex: 1;
    min-width: 200px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #f39c12;
}

.social-icons a {
    font-size: 20px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
}





#login-form {
    display: flex;
    /* Flexbox kullanarak düzenleme */
    flex-direction: column;
    /* Dikey yönde hizalama */
}

#login-form label {
    margin-bottom: 5px;
    /* Alt boşluk */
    font-weight: bold;
    /* Kalın yazı */
}

#login-form .form-control {
    padding: 10px;
    padding-left: 40px;
    /* İç boşluk */
    margin-bottom: 15px;
    /* Alt boşluk */
    border: 3px solid var(--border-color);
    /* Kenar rengi */
    border-radius: 15px;
    /* Kenar yuvarlama */
    font-size: 16px;
    /* Yazı boyutu */
    background-color: var(--background-color);

    &::placeholder {
        color: var(--text-placeholder-color);
    }

    color:var(--text-light-color)
}

#login-form .form-control:focus {
    /* Alt boşluk */
    border: 3px solid var(--button-hover);
    box-shadow: none;
}

.error-message {
    display: block;
    margin: auto;
    visibility: hidden;
    margin-top: -10px;
}

.error-message span {
    font-size: 12px;
    line-height: 17px;
    color: var(--error-color);
}

#login-form .error-control {
    /* Alt boşluk */
    border: 3px solid var(--error-color);
    box-shadow: none;
}

#login-form .error-label {
    /* Alt boşluk */
    color: var(--error-color);
    box-shadow: none;
}

#login-form button {
    padding: 10px;
    /* İç boşluk */
    /* Yazı rengi */
    /* Kenar yok */
    border-radius: 15px;
    /* Kenar yuvarlama */
    cursor: pointer;
    /* İmleç değişimi */
    transition: background-color 0.3s;
    /* Geçiş efekti */
    font-size: 14px;
    line-height: 20px;
}

#login-form .text-container {
    font-size: 12px;

}

#login-form .text-container a {
    color: var(--text-color);
    line-height: 14px;
    margin-top: 10px;
}

#login-form button:hover {
    background-color: var(--button-hover);
    color: var(--text-color);
    border: 2px solid var(--button-hover);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Hafif gölge efekti */
    /* Hover durumunda arka plan rengi */
}

.form-check {
    display: flex;
    align-items: center;
    /* Checkbox ve label'ı dikey olarak ortalar */
}

.form-check-box {
    width: 20px;
    /* Checkbox genişliği */
    height: 20px;
    /* Checkbox yüksekliği */
    margin-right: 10px;
    /* Checkbox ile label arasında boşluk */
    cursor: pointer;
    /* Üzerine gelindiğinde imleci değiştir */
}

.form-check-label {
    font-size: 14px;
    text-align: center;
    /* Label yazı boyutu */
    color: var(--text-placeholder-color);
    ;
    /* Label yazı rengi */
}

#login-form .form-check-box {
    padding: 10px;
    border: 1px solid var(--border-color);
    /* Kenar rengi */
    border-radius: 15px;
    /* Kenar yuvarlama */
    font-size: 16px;
    /* Yazı boyutu */
    background-color: var(--background-color);

    &::placeholder {
        color: var(--text-placeholder-color);
    }

    color:var(--text-light-color)
}

.icon-container {
    position: relative;
    /* Üstteki öğelerin konumunu ayarlamak için */
}

.input-icon-left-container {
    position: absolute;
    /* İkonları üst üste getirmek için */
    top: 15px;
    /* Yatayda konumlandırma */
    left: 20px;
    /* Dikeyde konumlandırma */
    /* İkon boyutunu ayarlamak için */
    width: 30px;
    height: 30px;
}

.btn-mail-login {
    font-weight: 300;
    /* İnce font */
    background-color: var(--secondary-color);
    /* Arka plan rengi beyaz */
    border: 2px solid var(--text-dark-color);
    color: var(--text-dark-color);
    /* Yazı rengi */
}

.btn-register {
    font-weight: 300;
    /* İnce font */
    background-color: var(--secondary-color);
    /* Arka plan rengi beyaz */
    border: 2px solid var(--text-dark-color);
    color: var(--text-dark-color);
    /* Yazı rengi */
}

.btn-register-action {
    font-weight: 300;
    /* İnce font */
    background-color: var(--secondary-color);
    /* Arka plan rengi beyaz */
    border: 2px solid var(--text-dark-color);
    color: var(--text-dark-color);
    /* Yazı rengi */
}

.btn-register-action:hover {
    background-color: var(--button-hover);
    color: var(--text-color);
}

.btn-send-code {
    font-weight: 300;
    /* İnce font */
    background-color: var(--background-color);
    /* Arka plan rengi beyaz */
    border: 2px solid var(--border-color);
    color: var(--text-light-color);
    /* Yazı rengi */

}

.btn-google-login {
    font-weight: 300;
    /* İnce font */
    background-color: var(--background-color);
    /* Arka plan rengi beyaz */
    border: 2px solid var(--border-color);
    color: var(--text-light-color);
    /* Yazı rengi */

}

.input-icon-right-container {
    position: absolute;
    /* İkonları üst üste getirmek için */
    top: 15px;
    /* Yatayda konumlandırma */
    right: 20px;
    /* Dikeyde konumlandırma */
    /* İkon boyutunu ayarlamak için */
    width: 30px;
    height: 30px;
}

.input-icon-left-container span {
    color: var(--text-placeholder-color)
}

.login-form-text {
    color: var(--standart-text-light-color);
    font-size: 0.4rem;
}

.chat-advertise h1 {
    font-size: 6.5em;
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    /* H1 için font ayarı */
    font-weight: 900;
    /* Kalın yazı */
}

.chat-advertise h2 {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    /* H2 için font ayarı */
    font-weight: 600;
    /* Kalın yazı */
}

.chat-advertise h3 {
    font-size: 2.5em;
    margin: 6px 0;
    font-family: 'Roboto', sans-serif;
    /* H3 için font ayarı */
    font-weight: 500;
    /* Kalın yazı */
}

.chat-advertise .site-title {
    font-size: 2.5em;
    margin: 6px 0;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    /* H3 için font ayarı */
    font-weight: 500;
    /* Kalın yazı */
}

.chat-advertise p {
    font-size: 1em;
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    /* Paragraf için font ayarı */
    font-weight: 400;
    /* Normal yazı */
}

.message {
    background-color: var(--advertaise-color);
}

.sub-message-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.human-message {
    margin-left: auto;
    text-align: left;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 14px;
    background-color: var(--chat-header);

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

}

.system-message {
    margin-right: auto;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 14px;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.message-content {
    padding: 10px;
}

.human-message h3 {
    margin: 0 0 0px 0;
    font-size: 1em;
    font-weight: bold;

    &::after {
        content: " : ";
    }
}

.system-message h3 {
    margin: 0 0 5px 0;
    font-size: 1em;
    font-weight: bold;
}

.system-message-container {
    background-color: var(--chat-header);
    /* Açık gri arka plan */
    border-radius: 5px;
    /* Yuvarlatılmış köşeler */
    padding: 5px;
    /* İç boşluk */
    margin-top: 5px;
    /* Üstten boşluk */
}

.message-title {
    font-weight: bold;
    /* Kalın yazı */
    margin-bottom: 10px;
    /* Alt boşluk */
}

.system-content {
    color: #333;
    /* Koyu gri yazı rengi */
}

.product-group-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    background-color: var(--background-color);
}

.product-group {
    margin-bottom: 20px;
}

.accordion {
    background-color: transparent !important;
}

.accordion-item {
    border: 1px solid var(--border-color);
    /* Kenarlık rengi, sitenin genel renk değişkeni */
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
}

/* Accordion Header Stili */
.accordion-header {
    height: 50px;
    line-height: 10px;
    background-color: var(--background-color);
    /* Ana renk değişkeni */
    color: var(--text-light-color);
    /* Yazı rengi */
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Accordion Header Hover Stili */
.accordion-header:hover {
    background-color: var(--chat-background);
    /* İkinci renk değişkeni */
}

/* Accordion Body Stili */
.accordion-body {
    background-color: var(--background-color);
    /* Arka plan rengi, sitenin genel renk değişkeni */
    color: var(--text-color);
    /* Yazı rengi */
    padding: 15px;
}

.accordion-button {
    background-color: var(--background-color);
    /* Ana renk değişkeni */
    color: var(--text-color);
    /* Yazı rengi */
    transition: all 1 ease;
}

.accordion-button:not(.collapsed) {
    background-color: var(--background-color);
    color: var(--text-color);
    /* Yazı rengi */

}

.product-group-title {
    background-color: var(--background-color);
}

.product-group-title h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--text-light-color);
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10.5rem, 1fr));
    /* Otomatik sütun sayısı */
    /* Her satırda 3 sütun */
    gap: 25px;
    /* Ürünler arasındaki boşluk */
    padding: 15px;
    /* Üstten ve alttan boşluk */
}

.product-card {
    background-color: var(--background-color);
    /* Ürün kartı arka plan rengi */
    border: 1px solid var(--border-color);
    /* Ürün kartı kenarlığı */
    border-radius: 14px;
    /* Ürün kartı kenarlarını yuvarlama */
    overflow: hidden;
    /* Taşmayı önlemek için */
    transition: transform 0.2s;
    /* Hover efekti için geçiş */
}

.product-card:hover {
    transform: scale(1.02);
    /* Hover sırasında büyütme efekti */
}

.product-image-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 180px;
    margin: auto;
    background-color: var(--secondary-color);
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-info {
    text-align: center;
}

.product-info h4 {
    margin: 0 0 5px 0;
    font-size: 1em;
    font-weight: bold;
    color: var(--secondary-color);
}

.product-info p {
    margin: 5px 0;
    font-size: 0.9em;
    color: var(--secondary-color);
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}



.chat-input {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5 ease-in;
}

.chat-input.bottom {
    width: 50%;
    height: 100px;
    transform: translateY(0);
    transform: translateX(-25%);
    width: 40%;
    left: 50%;
    height: 100px;
    bottom: 20px;
}

.chat-input.middle {
    width: 50%;
    height: 100px;
    bottom: 50%;
    left: 0;
    transform: translateY(50%);
    transform: translateX(60%);
}

.chat-input.hidden {
    display: none;
    visibility: hidden;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #444;
    color: var(--text-color);
    margin-right: 10px;
    outline: none;
}

.chat-input button {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: var(--background-color);
    color: white;
    border: none;
    right: 0;
    margin-right: 21px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-input .icon {
    margin-right: 10px;
    cursor: pointer;
    color: var(--text-color);
}

.search-history {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: auto;
    width: 100%;
    padding: 0;
    overflow-y: auto;
}

.search-history .search-history-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    transition: background-color 0.5s ease;
    border-radius: 14px;
    position: relative;
    margin-top: 3px;
    margin-bottom: 3px;

}

.search-history .search-history-item:hover {
    background-color: var(--chat-header);
}

.search-history .search-history-item li {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    flex-grow: 1;
}

.search-history .search-history-item a {
    text-decoration: none;
    flex: 1
}

.search-history-all-see {
    text-decoration: none;
    cursor: pointer;
}

.search-history-all-see span:hover {
    pointer-events: none;
}

.search-history li:hover {
    pointer-events: auto;
}

.search-history-all-see span {
    font-size: 1rem;
}

.text-container .bold {
    font-weight: 700;
    color: #c1c1c1;
    /* Koyu ton */
}

.text-container .light {
    font-weight: 400;
    color: #989898;
    /* Daha açık koyu ton */
}

.icon-container {
    padding: 3px;
}

.menu-icon {
    color: var(--text-color);
    cursor: pointer;
    margin-left: 10px;
}

.menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 40px;
    background-color: var(--chat-background);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    list-style-type: none;
    padding: 5px 0;
    z-index: 1000;
    height: 10%;
    overflow-y: auto;
}

.menu li {
    padding: 5px 20px;
}

.menu li a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.menu li:hover {
    background-color: var(--chat-header);
}

.sidebar-details {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
    overflow: hidden;
    transform: translateX(100%);
}

.sidebar-details.open {
    display: block;
    transform: translateX(-100%);
}


.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: var(--button-hover);
}


.button-group {
    display: flex;
    gap: 10px;
}

.image-slider {
    position: relative;
    width: 100%;
    height: 100px;
    /* Bant yüksekliği */
    overflow: hidden;
    /* Taşmayı gizle */
}

.image-track {
    display: flex;
    animation: slide 20s linear infinite;
    /* Animasyon süresi ve hızı */
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
        /* Resimlerin kayma mesafesi */
    }
}

.modal {
    display: flex;
    /* Flexbox ile ortala */
    justify-content: center;
    /* Yatayda ortala */
    align-items: center;
    /* Dikeyde ortala */
    z-index: 1000;
    /* Üstte görünmesi için */
}

.modal-content {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border: 14px;
}


.filter-section {
    position: relative;
    display: flex;
    flex-direction: row;
}

.filter-dropdown-button,
.filter-selected-button {
    margin-right: 10px;

}

#dropdown-item-button {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--text-light-color);
    border-radius: 14px;
}

#dropdown-item-button:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    color: var(--text-dark-color);
    border-radius: 14px;
}

.filter-selected-button {
    background-color: var(--secondary-color);
    color: var(--text-dark-color);
    border: 1px solid var(--border-color);
    border-radius: 14px;
    transition: background-color 0.3s ease;
}

.filter-selected-button:hover {
    background-color: var(--button-hover);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
    background-color: var(--background-color);
    border-radius: 14px;
    color: var(--text-light-color);
    overflow: hidden;
    padding: 0;
}

.filter-dropdown-button-item,
.dropdown-item {
    color: var(--text-light-color);
    border: 1px solid var(--border-color);
}

.dropdown-item:active {
    background-color: var(--secondary-color);
    color: var(--text-dark-color);
}

.feature-plan-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.feature-plan-body {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
}

.feature-plan-frame {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    border: 1px solid var(--border-color);
    transition: transform 0.3s ease-in-out;
}

.feature-plan-frame:hover {
    transform: scale(1.05);
}

.free-plan {
    background-color: var(--free-plan-bg);
}

.pro-plan {
    background-color: var(--pro-plan-bg);
}

.premium-plan {
    background-color: var(--premium-plan-bg);
}

.feature-plan-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: start;
    color: var(--secondary-color);
}

.feature-plan-title h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.feature-plan-title p {
    font-size: 0.8rem;
    color: var(--chat-header);
}

.feature-plan-price {
    justify-content: start;
    align-items: start;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}

.feature-plan-price .text-section {
    display: flex;
    flex-direction: row;
}

.feature-plan-price .text-section h3.text-helper {
    font-size: 1.2rem;
    color: var(--chat-header);
    margin-right: 10px;
}

.feature-plan-price .text-section h3.text-price {
    font-size: 2rem;
}

.feature-plan-price h3 {
    text-align: start;
    font-size: 1.5rem;
    color: var(--secondary-color)
}

.feature-plan-price p {
    text-align: start;
    font-size: 1rem;
    color: var(--chat-header)
}

.feature-plan-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-plan-button.free {
    background-color: var(--secondary-color);
    border: 3px solid var(--border-color);
    color: var(--text-placeholder-color);
    border-radius: 14px;
}

.feature-plan-button.pro {
    font-weight: 300;
    /* İnce font */
    background-color: var(--background-color);
    /* Arka plan rengi beyaz */
    border: 3px solid var(--border-color);
    color: var(--text-light-color);
    border-radius: 14px;
}

.feature-plan-button.pro:hover {
    background-color: var(--button-hover);
    color: var(--text-color);
    border: 3px solid var(--button-border-hover);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.feature-plan-body ul {
    list-style: none;
    text-align: start;
    padding: 0;
}

.feature-plan-body ul li {
    margin: 8px 0;
    font-size: 1rem;
}


.modal-backdrop {
    z-index: 1;
}

.toggle-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.toggle-container {
    display: flex;
    align-items: center;
    background: var(--advertaise-color);
    border: 1px solid var(--border-color);
    border-radius: 14px;
    padding: 5px;
    width: 320px;
    height: 40px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}

.toggle-option {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    color: var(--text-placeholder-color);
    font-size: 14px;
    font-family: Arial, sans-serif;
    z-index: 2;
    position: relative;
}

.toggle-slider {
    position: absolute;
    width: 50%;
    height: 90%;
    background: var(--background-color);
    border-radius: 14px;
    transition: transform 0.3s ease;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-container.active .toggle-slider {
    transform: translate(95%, -50%);
}

.toggle-container.active .toggle-option:last-child {
    color: var(--secondary-color);
}

.toggle-container:not(.active) .toggle-option:first-child {
    color: var(--secondary-color);
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu show {
    left: -108px;
}

.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.settings-card {
    width: 400px;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.settings-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.settings-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.settings-select {
    padding: 5px;
    border-radius: 4px;
    background-color: var(--chat-header);
    border: 1px solid var(--border-color);
    border-radius: 14px;
    color: var(--text-color);
}

.settings-footer {
    text-align: center;
    margin-top: 20px;
}

.settings-button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.settings-button-container .delete-button {
    background-color: var(--error-color);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 14px;
    transition: background-color 0.3s ease;
}


.settings-button-container .delete-button:hover {
    background-color: darkred;
}

.settings-button-container .regular-button {
    background-color: var(--chat-background);
    color: var(--text-color);
    padding: 10px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 14px;
    transition: background-color 0.3s ease;
}

.settings-button-container .regular-button:hover {
    background-color: var(--button-hover);
}

.product-detail {
    flex: 1;
    height: 100%;
    background-color: var(--chat-background);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    overflow-y: auto;
    transition: flex 0.5s ease;
}

.product-detail-header {
    display: flex;
    flex-direction: row;
}

.product-detail-header .icon {
    flex: 1;
}

.product-detail-header .close-button {
    width: 30px;
    height: 30px;
}

.image-section {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    border-radius: 10px;
}

.info-section {
    padding: 20px;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rating {
    font-size: 18px;
    color: #ff9900;
    margin-bottom: 5px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-light-color);
    margin-bottom: 10px;
}

.availability {
    font-size: 16px;
    color: #27ae60;
    margin-bottom: 5px;
}

.color {
    font-size: 16px;
    margin-bottom: 15px;
}

.color-text {
    font-weight: bold;
}

.product-detail-go-button {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border-radius: 14px;
    /* İnce font */
    background-color: var(--background-color);
    /* Arka plan rengi beyaz */
    border: 2px solid var(--border-color);
    color: var(--text-light-color);
}

.product-detail-add-favorite-button {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border-radius: 14px;
    /* İnce font */
    background-color: var(--secondary-color);
    /* Arka plan rengi beyaz */
    border: 2px solid var(--border-color);
    color: var(--text-dark-color);
}

.product-detail-header-content {
    padding: auto;
    margin: auto;
    max-width: 100%;
}

.product-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    margin: 0px;
    border-radius: 14px;
    background-color: var(--chat-header);
    border-bottom: 3px solid var(--border-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.product-detail-image-list {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 10px;
    list-style: none;
}

.product-detail-image-list li {
    width: 60px;
    height: 60px;
    border: 2px solid var(--border-color);
    border-radius: 14px;
    overflow: hidden;
    padding: 1px;
}

.product-detail-image-list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.product-detail-image-list li.active {
    width: 60px;
    height: 60px;
    border: 2px solid var(--button-hover);
    border-radius: 14px;
    overflow: hidden;
    padding: 1px;
}

.product-detail-saller-list ul {
    padding-left: 0px !important;
}

.product-detail-saller-list li {
    list-style-type: none;
}

.product-detail-saller-content {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin: auto;
    background-color: var(--chat-header);
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 14px;
}

.product-detail-saller-content-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product-detail-saller-content-header .header-text {
    &:after {
        content: " : ";
    }
}

.product-detail-saller-content-header .title {
    flex: 1;
    padding: 2px;
    text-align: start;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
    color: var(--secondary-color);
}

.product-detail-saller-content-header .price {
    padding: 2px;
    text-align: end;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--secondary-color);
}

.product-detail-saller-content-description {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 2px;
}

.product-favorite {

    flex: 0.4;
    transition: flex 0.3s ease;
    height: 100%;

}

.product-favorite-content {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--chat-background);
    box-shadow: 0px 7px 11px 7px rgb(10 10 10 / 48%);
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
}

.product-favorite.hidden {
    flex: 0;

}

.product-favorite-content.hidden {
    display: none;
}

.chat-container.open-favorite {
    flex: 1;
}

.product-favorite-header {
    width: 100%;
    height: 40px;
    background-color: var(--chat-header);
    justify-content: center;
    align-items: center;
}

.favorite-header-close-button {
    color: var(--text-light-color);
    font-size: 1.2em;
    font-weight: bold;
    align-items: center;
}

.product-favorite-list {
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
}

.product-favorite-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--advertaise-color);
    padding: 0 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    border: 1px solid var(--border-color);
}

.product-favorite-image {
    width: 70px;
    height: 70px;
    border-radius: 14px;
    overflow: hidden;
    padding: 1px;
}

.product-favorite-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-favorite-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
}

.product-favorite-info h4 {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--secondary-color);
}

.product-favorite-info p {
    font-size: 1em;
    font-weight: 300;
    color: var(--text-light-color);
}

.center-horizantal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}


.pagination-content {
    background-color: var(--background-color);
    /* change/choose desired color */
}